<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <p>
      Welcome <br />
      to WaterBnB
    </p>
    <div class="log_in_container">
      <form action="/index" method="POST">
        <label for="username"><a>Username:</a></label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter Username here"
          required
        /><br />

        <label for="password"><a>Password:</a></label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter password here"
          required
        /><br />

        <button type="submit">Log In</button>
      </form>
    </div>
    <div class="sign_up_container">
      <form action="/index/sign_up" method="GET">
        <button type="submit"><a>Sign up</a></button>
      </form>
    </div>
  </body>
</html>
